.container
  .row
    .col-md-2
      .head
        %h3
          = link_to 'All', reader_path
      .channels
        - @channels.each do |channel|
          .channel{class: ('active' if @channel == channel)}
            = image_tag avatar_channel_path(channel, thumb: 1)
            = link_to channel.name, reader_path(channel_id: channel.id), class: 'show-channel'

    .col-md-3
      %h3
        - if params[:query]
          = "Search: #{params[:query]}"
        - elsif @channel
          = @channel.name
        - else
          = 'All items'
      .items{'data-current-item' => @item.try(:id)}
        - @items.each do |item|
          :ruby
            klass = []
            klass << 'active' if @item == item
            klass << 'unread' if item.unread?
          .item{class: klass.join(' ')}
            - path = reader_path(channel_id: @channel.try(:id), item_id: item.id, query: params[:query])
            - text = item.title
            = link_to text, path, title: text, class: 'show-item'
      = paginate @items, params: {item_id: nil}
    .col-md-7.item-area
      #item
        = render partial: 'item', locals: {item: @item} if @item
